MCP_CUSTOMER_SERVICE_API_KEY=
MCP_WRITING_ASSISTANT_API_KEY=
MCP_RAG_STORAGE_MODE=memory
MCP_GATEWAY_URL=http://127.0.0.1:8105
RUNTIME_CONTROL_TOKEN=
MCP_DEFAULT_DAILY_TOKEN_LIMIT=100000
ARK_API_KEY=
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_CHAT_MODEL=
ARK_EMBEDDING_MODEL=
